<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Area</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
          <tr>
            <td scope="row"><%= room.id %></td>
            <td><%= room.name %></td>
            <td><%= room.area %></td>
            <td><%= room.qty %></td>
            <td>
              <%= button_tag "Edit", class: "btn btn-success" %>
              <%= button_tag "Delete", class: "btn btn-danger" %>
              <%= link_to "Details", room_path(room), class: "btn btn-primary" %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
