<% content_for :validate_new do %>
  <%= javascript_include_tag "validate" %>
<% end %>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t ".name" %></th>
        <th scope="col"><%= t ".area" %></th>
        <th scope="col"><%= t ".qty" %></th>
        <th scope="col"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr id="room-<%= room.id %>">
          <td scope="row"><%= room.id %></td>
          <td><%= room.name %></td>
          <td><%= room.area %></td>
          <td><%= room.qty %></td>
          <td>
            <%= link_to t(".edit"), edit_room_path(room), class: "btn btn-success" %>
            <%= link_to t(".del"), room_path(room), method: :delete, data: {confirm: t(".confirm")}, remote: true, class: "btn btn-danger destroy-room" %>
            <%= link_to t(".detail"), room_path(room), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @rooms, theme: "twitter-bootstrap-3" %>
</div>
