<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t ".name" %></th>
        <th scope="col"><%= t ".area" %></th>
        <th scope="col"><%= t ".qty" %></th>
        <th scope="col"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
          <tr>
            <td scope="row"><%= room.id %></td>
            <td><%= room.name %></td>
            <td><%= room.area %></td>
            <td><%= room.qty %></td>
            <td>
              <%= link_to t(".edit"), edit_room_path(room), class: "btn btn-success" %>
              <%= button_tag t(".del"), class: "btn btn-danger" %>
              <%= link_to t(".detail"), room_path(room), class: "btn btn-primary" %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>

