<% content_for :validate_new do %>
  <%= javascript_include_tag "validate" %>
<% end %>
<div class="container">
  <div class="row">
    <%= form_with model: @room, local: true, html: {class: "form-group", id: :new_room} do |f| %>
      <div class="form-group">
        <label><%= t ".name" %></label>
        <%= f.text_field :name, class: "form-control"%>
        <% if @room.errors[:name].any? %>
          <i class="text-danger"><%= @room.errors[:name].join("<br>").html_safe %></i>
        <% end %>
      </div>
      <div class="form-group">
        <label><%= t ".area" %></label>
        <%= f.text_field :area, class: "form-control" %>
        <% if @room.errors[:area].any? %>
          <i class="text-danger"><%= @room.errors[:area].join("<br>").html_safe %></i>
        <% end %>
      </div>
      <div class="form-group">
        <label><%= t ".qty" %></label>
        <%= f.text_field :qty, class: "form-control" %>
        <% if @room.errors[:qty].any? %>
          <i class="text-danger"><%= @room.errors[:qty].join("<br>").html_safe %></i>
        <% end %>
      </div>
      <%= f.submit t(".create"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
