<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t ".name" %></th>
        <th scope="col"><%= t ".area" %></th>
        <th scope="col"><%= t ".qty" %></th>
        <th scope="col"><%= t ".create_at" %></th>
        <th scope="col"><%= t ".update_at" %></th>
        <th scope="col"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= @room.id %></th>
        <td><%= @room.name %></td>
        <td><%= @room.area %></td>
        <td><%= @room.qty %></td>
        <td><%= @room.created_at.strftime("%F") %></td>
        <td><%= @room.updated_at.strftime("%F") %></td>
        <td>
          <%= link_to t(".back"), rooms_path, class: "btn btn-primary" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
