<!DOCTYPE html>
<html>
  <head>
    <title>RubyonRailsTranning</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "i18n" %>
    <%= javascript_include_tag "translations", skip_pipeline: true %>
  </head>
  <body>
    <%= render "layouts/menu" %>
    <%= render "shared/messages" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
